body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(97,81,146);
    font-size: medium;    
    background-color: rgb(136,124,175);
}
#emphasize {
    color: chartreuse;
}
.red{
    color: red;
}

.black{
    color:black;
}

.white{
    color: white;
}

.blue {
    color: blue;
}

.purple{
    color: purple;
}
.yellow{
    color: yellow;
}

.emp{
    color: rgb(38,23,88);
}
.back_ky{
    color: rgb(136,124,175);
}
.normalColor{
    color: rgb(97,81,146);
}

.bigger {
    font-size: larger;
}

.smaller {
    font-size: smaller;
}

.font_emphasize {
    font-family:'Courier New', Courier, monospace
}

.bold{
    font-stretch: wider;
}
.background_gray{
    background-color: gray;
}

.background_black{
    background-color: black;
}

.background_lightyellow{
    background-color: lightyellow;
}
.emphasize {
    font-style: italic;
}