body {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size:large;
}
nav {
    color: red;
    font-size: x-large;
}
header {
    color: skyblue;
}

#first {
    color: yellow;
    how to use ID tag
}

.second {
    color: green;
    how to sue Class
}

.red {
    color: red;
}
.bigger {
    font-size:larger;
}
.smaller {
    font-size: smaller;
}
.brown{
    color: brown;
}