main{
    display: flex;
    
}
aside{
    margin: 5px auto;
}
table{
    background-color: yellow;}
.class {
    border-spacing: 0cap;
    border-collapse: collapse;
    margin: 5px auto;
}
.class tbody tr:nth-child(odd){
    background-color: lightgoldenrodyellow;
}
.class thead{
    color: white;
    background-color: blue;
}
