body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    text-align: left;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:cornflowerblue;
    background-position: center;

}
nav{
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav li{
    display: inline;
    margin: 0px;
    padding: 0px;
}
nav a{
    display: block;
    padding: 20px 80px;
    border-bottom: thin solid gainsboro;
    background-color:darkturquoise;
    float: left;
}
nav a:hover{
    color: white;
    background-color: black;
}
#osmo{
    width: auto;
    border: thick dotted brown;
    float: left;
    border-radius: 10px;
    box-shadow: 20px 20px 20px brown;
    bottom: 20px;
    
}
#osmo img{
    width: 300px;
}
.clear{
    clear: both;
}
.bigger{
    font-size: larger;
}
.bold{
    font-weight: bold;
}
.uppercase{
    text-transform: uppercase;
}
.shadow{
    text-shadow: 2px 2px 4px gray;

}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color:cornflowerblue;
}