body{
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    box-shadow: 3px 3px 3px black;
    background-color: aqua;
}
legend {
    border: thin solid black;
    background-color: blue;
    padding: 10px;
    color: white;
}
.form-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.form-row label {
    width: 150px;
    text-align: right;
}

.check-row {
    display: flex;
    gap: 10px;
}

.spacer {
    width: 150px;
    text-align: right;
}

@media only screen and (max-width:600px){
    .form-row {
        flex-direction: column;
    }
}